/* Editor */
.editor {
	background-color: #FFFFFF;
	color: #000000;
}
.editor.lineHighlight {
	background-color: #00000012;
}
.editor.caret {
	color: #000000;
}
.editor.invisibles {
	color: #BFBFBF;
}
.editor.selection {
	background-color: #C4D0F2;
}


/* Diff insertion */
.markup.inserted.diff,
.meta.diff.header.to-file {
	color: #eefff8;
	background-color: #2f8963;
}


/* Diff deletion */
.markup.deleted.diff,
.meta.diff.header.from-file {
	color: #FFF3EE;
	background-color: #C86A44;
}


/* General names */
.entity.name {
	color: #000000;
}


/* Comment */
.comment,
.comment.block,
.comment.line {
	color: #FF0000;
}


/* Variable */
.variable {
	color: #000000;
}


/* Special variables (this, self, super, etc.) */
.variable.language {
	font-weight: bold;
	color: #0000FF;
}


/* Class member variable parameter */
.variable.other.member {
	color: #0000C8;
}


/* Operator */
.keyword.operator {
	color: #000000;
}


/* Keyword */
.keyword {
	font-weight: bold;
	color: #0000FF;
}


/* Keyword: Control */
.keyword.control {
	font-weight: bold;
	color: #0000FF;
}


/* Keyword: new */
.keyword.operator.new {
	font-weight: bold;
	color: #0000FF;
}


/* Number */
.constant.numeric {
	color: #FF00FF;
}


/* User-defined constant */
.constant {
	color: #000000;
}


/* Built-in constant */
.constant.language {
	font-weight: bold;
	color: #0000FF;
}


/* Boolean */
.constant.language.boolean {
	font-weight: bold;
	color: #0000FF;
}


/* String */
.string {
	color: #008000;
}


/* String escape sequences */
.constant.character.escape {
	color: #008000;
}


/* Preprocessor line */
.meta.preprocessor {
	color: #0000FF;
}


/* Preprocessor directive */
.keyword.control.import {
	font-weight: bold;
	color: #0000FF;
}


/* Function declaration */
.meta.function,
.entity.name.function {
	font-weight: bold;
	color: #000000;
}


/* Type name */
.entity.name.type {
	font-weight: bold;
	color: #000000;
}


/* Built-in types (int, bool, function, class, ...) */
.storage.type {
	font-weight: bold;
	color: #0000FF;
}


/* Storage and type modifiers (static, inline, const, public, ...) */
.storage.modifier {
	font-weight: bold;
	color: #0000FF;
}


/* Property name */
.meta.property-name,
.support.type.property-name {
	color: #0000C8;
}


/* Inherited class name */
.entity.other.inherited-class {}


/* Function parameter */
.variable.parameter {}


/* Function invokation */
.meta.function-call,
.variable.function {
	font-weight: bold;
}


/* Function parameter and result types */
.storage.type.method {
	color: #000000;
	font-weight: bold;
}


/* Section */
.meta.section,
.entity.name.section,
.declaration.section {}


/* Library/framework entities */
.support {
	color: #000000;
}


/* Library/framework functions */
.support.function {
	font-weight: bold;
}


/* Library/framework objects and types */
.support.class,
.support.type {
	font-weight: bold;
}


/* Library/framework constants */
.support.constant {}


/* Library/framework variables */
.support.variable {}


/* Invalid */
.invalid {
	background-color: #E1A09F;
}


/* Invalid trailing whitespace */
.invalid.deprecated.trailing-whitespace {
	background-color: #FFD0D0;
}


/* Embedded source */
.text.source,
.string.unquoted {
	background-color: #427FF530;
}


/* Markup: XML declaration */
.meta.xml-processing,
.declaration.xml-processing {
	color: #0000FF;
	font-weight: bold;
}


/* Markup: DOCTYPE */
.meta.doctype,
.declaration.doctype,
.meta.tag.sgml.doctype.html {
	color: #000000;
}


/* Markup: DOCTYPE tag name */
.entity.name.tag.doctype {
	color: #0000FF;
	font-weight: bold;
}


/* Markup: DTD */
.meta.doctype.DTD,
.declaration.doctype.DTD {}


/* Markup: Tag */
.meta.tag,
.declaration.tag {
	color: #0000FF;
}


/* Markup: Tag name */
.entity.name.tag {
	color: #0000FF;
	font-weight: bold;
}


/* Markup: Tag attribute */
.entity.other.attribute-name {
	color: #800080;
}


/* Markup: Attribute Value */
.string.quoted.double.xml,
.string.quoted.double.html {
	color: #008000;
}


/* Markup: Heading */
.markup.heading {
	color: #0000FF;
}


/* Markup: Quote */

.markup.quote {
	color: #000000;
}


/* Markup: List */
.markup.list {
	color: #000000;
}


/* CSS: ID Selector */
.entity.other.attribute-name.id {
	color: #000000;
}


/* CSS: Class Selector */
.entity.other.attribute-name.class {
	color: #000000;
}


/* Markup: Tag delimiter */
.punctuation.definition.tag {
	color: #0000FF;
	font-weight: bold;
}


/* Documentation */
.comment.block.documentation {
	color: #3F5FBF;
}


/* CSS: Pseudo class */
.entity.other.attribute-name.pseudo-element.css {
	color: #0000FF;
}


/* CSS: Media type */
.support.constant.media.css {
	color: #0000FF;
}