/* ==UserStyle==
@name           BlackBlueRedGreen
@namespace      gitlab.com/julrich/blackblueredgreen
@version        1.0.6
@description    Light syntax highlighting theme using black, blue, red and green as main colors and bold font for additional highlighting.
@author         Jochen Ulrich
@license        MIT
@homepageURL    https://gitlab.com/julrich/blackblueredgreen
@supportURL     https://gitlab.com/julrich/blackblueredgreen/-/issues
@updateURL      https://gitlab.com/julrich/blackblueredgreen/-/raw/main/UserCSS/BlackBlueRedGreen.user.css
==/UserStyle== */

@-moz-document domain("gitlab.com"), domain("github.com"),
regexp(".*\\bgitlab\\b.*")
{

	.code.white pre.code,
	pre.highlight,
	.code.highlight,
	.highlight
	{
		background-color: #fff;
	}

	.highlight code
	{
		color: black;
		font-style: normal;
		font-weight: normal;
	}

	/* Variable and property names */
	pre.highlight .p,
	.code.highlight .p,
	.code.white .p,
	pre.highlight .n,
	.code.highlight .n,
	.code.white .n,
	pre.highlight .nn,
	.code.highlight .nn,
	.code.white .nn,
	pre.highlight .py,   /* Property names */
	.code.highlight .py, /* Property names */
	.code.white .py, /* Property names */
	pre.highlight .m,    /* CSS property value */
	.code.highlight .m,  /* CSS property value */
	.code.white .m,  /* CSS property value */
	pre.highlight .no,   /* CSS property value */
	.code.highlight .no, /* CSS property value */
	.code.white .no, /* CSS property value */
	pre.highlight .nv,   /* Markdown link title */
	.code.highlight .nv, /* Markdown link title */
	.code.white .nv, /* Markdown link title */
	pre.highlight .nx,   /* Variable names */
	.code.highlight .nx, /* Variable names */
	.code.white .nx, /* Variable names */
	pre.code.highlight .hljs-variable,
	.code.white.blob-viewer .hljs-variable,
	pre.highlight .hljs-params,
	.code.white.blob-viewer .hljs-params,
	.code.white .hljs-property,
	.highlight .pl-c1,
	.highlight .pl-smi,
	.react-code-lines .pl-c1,
	.react-code-lines .pl-smi,
	pre.code.highlight [lang="typescript"] .hljs-attr,
	pre.code.highlight [lang="javascript"] .hljs-attr
	{
		color: black;
		font-style: normal;
		font-weight: normal;
	}

	/* Keywords & built-ins */
	pre.code.highlight .hljs-keyword,
	pre.code.highlight .hljs-selector-tag,
	pre.code.highlight .hljs-tag,
	pre.code.highlight .hljs-built_in,
	.code.white.blob-viewer .hljs-variable\.language,
	pre.highlight .k,
	.code.highlight .k,
	.code.white .k,
	pre.highlight .kd,
	.code.highlight .kd,
	.code.white .kd,
	pre.highlight .kr,
	.code.highlight .kr,
	.code.white .kr,
	pre.highlight .kt,   /* built-in types */
	.code.highlight .kt, /* built-in types */
	.code.white .kt, /* built-in types */
	pre.highlight .nt,   /* tags */
	.code.highlight .nt, /* tags */
	.code.white .nt, /* tags */
	.highlight .pl-k,
	.react-code-lines .pl-k
	{
		color: blue;
		font-style: normal;
		font-weight: bold;
	}

	/* Preprocessor */
	pre.code.highlight .hljs-meta,
	pre.highlight .cp,
	.code.highlight .cp,
	.code.white .cp
	{
		color: blue;
		font-style: normal;
		font-weight: bold;
	}

	/* Operators */
	pre.code.highlight .hljs-operator,
	pre.highlight .o,
	.code.highlight .o,
	.code.white .o,
	.react-code-lines .pl-kos
	{
		color: black;
		font-style: normal;
		font-weight: normal;
	}

	/* Type & method names */
	pre.code.highlight .hljs-title,
	pre.code.highlight .hljs-title.class_,
	pre.code.highlight .hljs-title\.class,
	.code.white.blob-viewer .hljs-title\.class,
	pre.code.highlight .hljs-title.function_,
	.code.white.blob-viewer .hljs-title\.function,
	pre.code.highlight [lang="cpp"] .hljs-built_in,
	pre.code.highlight .hljs-type,
	pre.highlight .nc,   /* class */
	.code.highlight .nc, /* class */
	.code.white .nc, /* class */
	pre.highlight .nf,   /* function */
	.code.highlight .nf, /* function */
	.code.white .nf, /* function */
	.highlight .pl-en,
	.react-code-lines .pl-en,
	.react-code-lines .pl-v
	{
		color: black;
		font-style: normal;
		font-weight: bold;
	}

	/* Globals and statics */
	.code.white.blob-viewer .hljs-variable\.constant
	{
		color: black;
		font-style: italic;
		font-weight: normal;
	}

	/* Decorators */
	.code.highlight .nd,
	pre.code.highlight [lang="java"] .hljs-meta
	{
		color: blue;
		font-style: normal;
		font-weight: normal;
	}

	/* Booleans */
	pre.code.highlight .hljs-literal,
	pre.highlight .nb,
	.code.highlight .nb,
	.code.white .nb,
	.code.white .bp
	{
		color: blue;
		font-style: normal;
		font-weight: bold;
	}

	/* Number */
	pre.code.highlight .hljs-number,
	pre.highlight .mi,   /* integer */
	.code.highlight .mi, /* integer */
	.code.white .mi, /* integer */
	pre.highlight .mf, /* float */
	.code.highlight .mf, /* float */
	.code.white .mf, /* float */
	pre.highlight .mh,   /* hexadecimal */
	.code.highlight .mh, /* hexadecimal */
	.code.white .mh, /* hexadecimal */
	pre.highlight .mo,   /* octal */
	.code.highlight .mo,  /* octal */
	.code.white .mo  /* octal */
	{
		color: #ff00ff;
		font-style: normal;
		font-weight: normal;
	}

	/* String */
	pre.code.highlight .hljs-string,
	pre.code.highlight .hljs-regexp,
	pre.code.highlight .hljs-char,
	pre.code.highlight .hljs-char.escape_,
	pre.highlight .sb,
	pre.highlight .s,
	.code.highlight .s,
	.code.white .s,
	.code.white .sh,
	pre.highlight .s1,
	.code.highlight .s1,
	.code.white .s1,
	pre.highlight .s2,
	.code.highlight .s2,
	.code.white .s2,
	pre.highlight .se,   /* escape sequences */
	.code.highlight .se, /* escape sequences */
	.code.white .se, /* escape sequences */
	pre.highlight .sc,   /* characters */
	.code.highlight .sc, /* characters */
	.code.white .sc, /* characters */
	pre.highlight .sx,   /* Markdown link URL */
	.code.highlight .sx, /* Markdown link URL */
	.code.white .sx, /* Markdown link URL */
	.highlight .pl-s,
	.highlight .pl-cce,
	.highlight .pl-sr,    /* regular expression */
	.react-code-lines .pl-s,
	.react-code-lines .pl-cce,
	.react-code-lines .pl-sr    /* regular expression */
	{
		color: #008800;
		font-style: normal;
		font-weight: normal;
	}

	/* Comments */
	pre.code.highlight .hljs-comment,
	pre.highlight .c,    /* single-line */
	.code.highlight .c,
	.code.white .c,
	pre.highlight .c1,
	.code.highlight .c1,
	.code.white .c1,
	pre.highlight .c2,
	.code.highlight .c2,
	.code.white .c2,
	pre.highlight .cm,   /* multi-line */
	.code.highlight .cm,
	.code.white .cm,
	pre.highlight .err,   /* error */
	.code.highlight .err,
	.code.white .err,
	.highlight .pl-c,
	.react-code-lines .pl-c
	{
		color: #ff0000;
		font-style: normal;
		font-weight: normal;
	}

	/* Variable substitution */
	pre.code.highlight .hljs-symbol,
	.code.white.blob-viewer .hljs-symbol,
	.code.white .si
	{
		color: blue;
		font-style: normal;
		font-weight: normal;
	}

	/* CSS properties */
	pre.code.highlight .hljs-attribute,
	pre.highlight .nl,
	.code.highlight .nl,
	.code.white .nl
	{
		color: blue;
		font-style: normal;
		font-weight: normal;
	}

	/* Key Attributes */
	pre.code.highlight [lang="json"] .hljs-attr,
	pre.code.highlight [lang="yaml"] .hljs-attr,
	.react-code-lines .pl-ent
	{
		color: blue;
		font-style: normal;
		font-weight: normal;
	}

	/* Markup attributes */
	pre.code.highlight .hljs-attr,
	pre.highlight .na,
	.code.highlight .na,
	.code.white .na
	{
		color: #800080;
		font-style: normal;
		font-weight: normal;
	}

	/* Markdown headings */
	pre.code.highlight .hljs-section,
	pre.highlight .gh,
	.code.highlight .gh,
	.code.white .gh,
	pre.highlight .gu,
	.code.highlight .gu,
	.code.white .gu,
	.react-code-lines .pl-mh,
	.react-code-lines .pl-mh .pl-en
	{
		color: black;
		font-style: normal;
		font-weight: bold;
		text-decoration: underline;
	}

}
